* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'san-serif';
    max-width: 100%;
    align-items: center;
}

a {
    color: #473DE9;
    text-decoration: none;
}

.site-header {
    border-bottom: 2px solid rgba(127, 201, 180, 75%);
    border-bottom-width: 90%;
    width: 95%;
    margin-right: 2%;
    margin-left: 0%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

img {
    width: 100%;
    border-bottom: 3px solid rgba(127, 201, 180, 75%);
    border-right: 1px solid rgba(127, 201, 180, 75%);
}

.you-are-here {
    width: 1.25rem;
    padding: 0;
    margin: 0;
    border-bottom: 0;
    border-right: 0;
}

.content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgba(127, 201, 180, 15%);
    margin-left: 2%;
    margin-right: 2%;
}

p {
    font-family: sans-serif;
}

.menu-item {
    width: 7.5%;
    padding: 1%;
    justify-content: flex-start;
    align-items: center;
    align-content: start;
    font-size: 1rem;
    flex-wrap: nowrap;
}

.menu-item.other-page {
    color: #60A2C2;
    border-radius: 12px;
}

.menu-item.active a {
    color: black;
}

.menu-item.active {
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    border-bottom: 1.5px solid rgba(127, 201, 180, 75%);
}

body {
    width: 100%;
    background-color: rgba(127, 201, 180, 45%);
    font-family: 'Raleway', san-serif;
    margin: 2%;
    align-items: center;
    align-content: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.menu li {
    width: 25%;
}

.instructions {
    font-weight: 800;
}

.contact-info {
    width: 90%;
}

.contact-info ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 5%;
    margin-right: 5%;
}

.address {
    text-decoration-style: none;
}

.contact-info li {
    width: 30%;
}

.skills ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.skills li {
    width: 25%;
    padding: 2%;
}

.jobs {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.job {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.job-details {
    width: 100%;
}

.job-details-2 {
    width: 100%;
}

.skills-applied {
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    font-size: 0.5rem;
}

.skill-applied {
    color: white;
    padding: 1%;
    margin: 1%;
    width: auto;
    background-color: black;
    border-radius: 12px;
}

.active.page-image {
    width: 60%;
}

.introduction {
    margin: 2%;
}

.introduction h2 {
    margin-bottom: 2%;
}

.resume-section-header {
    text-align: center;
    font-size: 1.5rem;
}

.job-title {
    font-style: bold;
    margin-bottom: 1%;
    font-size: 1.25rem;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.project-header {
    padding-top: 2%;
    padding-bottom: 2%;
}

footer .email {
    text-align: center;
    width: 100%;
}

.stories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.story-header {
    padding-top: 2%;
    padding-bottom: 2%;
}

.story-image {
    width: 50%;
}

.project ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    width: 30%;
}
.project li{
    margin-right:5%;
}


@media screen and (min-width:768px) and (max-width:922px) {
    * {
        max-width: 100%;
        align-items: center;
        margin: 0 auto;
    }

    .body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .skills ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .skills li {
        width: 25%;
        padding: 2%;
    }

    .jobs {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .job {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1.5px solid rgba(127, 201, 180, 75%);
    }

    .job-details {
        width: 100%;
    }

    .job-details-2 {
        width: 100%;
    }

    .you-are-here {
        width: 1.25rem;
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }

}

@media screen and (min-width:922px) and (max-width:1500px) {
    * {
        align-content: center;
    }

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .skills ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .skills li {
        width: 25%;
        padding: 2%;
    }

    .jobs {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
        width: 100%;

    }

    .job {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1.5px solid rgba(127, 201, 180, 75%);

    }

    .job-details {
        width: 100%;
    }

    .job-details-2 {
        width: 100%;
    }

    .you-are-here {
        width: 1.25rem;
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }
}